.jumbotron
  .container
    .row
      .col-md-8
        %h1
          = @main_feature.title
        %p
          = @main_feature.sdesc
        %p
          %a.btn.btn-primary.btn-lg{ :role => "navigation" }
            Purchase
      .col-md-3.pull-right
        %a.thumbnail{:href => ""}
          %img(src="#{@main_feature.imagefilepath}")

.container
  .row
    - @minor_feature.each do |feature|
      .col-md-4
        .thumbnail
          %img(src="#{feature.imagefilepath}")
          .caption
            %h2
              = feature.title
            %p
              = feature.sdesc
            %a.btn.btn-primary.btn-sm{:href => ""}
              Purchase
            %a.btn.btn-default.btn-sm{:href => ""}
              Learn more
