.jumbotron
  .container
    .row
      .col-md-8
        %h1
          = @main_feature.title
        %p
          = @main_feature.sdesc
        %p
          %a.btn.btn-primary.btn-lg{ :href => design_path(@main_feature.id), :role => "navigation" }
            Purchase
      .col-md-3.pull-right
        %a.thumbnail{:href => ""}
          %img(src="#{@main_feature.imagefilepath}")

.container
  - @minor_feature.in_groups_of(3, false).each_with_index do |group|
    .row
      - group.each do |item|
        .col-md-4
          .thumbnail
            %img(src="#{item.imagefilepath}")
            .caption
              %h2
                = item.title
              %p
                = item.sdesc
              %a.btn.btn-primary.btn-sm{:href => design_path(item.id)}
                View details 
