.container
  %h1
    View All Designs
  .search_container
    = form_tag(search_path, method: "get", class: "search_form") do
      %h2
        Search
      .form-group
        %input.form-control{:type => "text", :name => "title", :placeholder => "Design Name"}
      .form-group
        %input.form-control{:type => "text", :name => "author", :placeholder => "Author Name"}
      %input.form-control.btn.btn-primary{:type => "submit", :value => "Search"}
      %input.form-control.btn{:type => "reset", :value => "Clear"}
  - @designs.in_groups_of(4, false).each_with_index do |group|
    .row
      - group.each do |item|
        .col-md-3
          .thumbnail
            %a{:href => design_path(item.id)}
              %img{:src => item.imagefilepath}
            .caption
              %h2
                %a{:href => design_path(item.id)}
                  = item.title
              %p
                = item.sdesc
              %a.btn.btn-primary.btn-sm{:href => design_path(item.id)}
                View details 
  .pagination-links.row
    .col-md-2
      - if @current_offset.present? && @current_offset > 0
        = form_tag(d_view_all_path) do
          = hidden_field_tag 'offset', @current_offset >= @page_size ? @current_offset - @page_size : 0
          %button.form-control.btn.btn-info.pagination-previous{:type => "submit"}
            Previous
    .col-md-2.col-md-push-8
      - if @current_offset.present? && @designs.size >= @page_size
        = form_tag(d_view_all_path) do
          = hidden_field_tag 'offset', @current_offset + @page_size
          %button.form-control.btn.btn-info.pagination-next{:type => "submit"}
            Next
  
