.container
  %h1
    View All Designs
  .search_container
    = form_tag(search_path, method: "get", class: "search_form") do
      %h2
        Search
      .form-group
        %input.form-control{:type => "text", :name => "title", :placeholder => "Design Name"}
      .form-group
        %input.form-control{:type => "text", :name => "author", :placeholder => "Author Name"}
      .form-group
        %input.form-control{:type => "text", :name => "date", :placeholder => "Date Posted"}
      %input.form-control.btn.btn-primary{:type => "submit", :value => "Search"}
      %input.form-control.btn{:type => "reset", :value => "Clear"}
  .row
    - @designs.each do |design|
      .col-md-2
        .thumbnail
          %img{:src => design.imagefilepath}
          .caption
            %h2
              %a{:href => design_path(design.id)}
                = design.title
            %p
              = design.sdesc
            %a.btn.btn-primary.btn-sm{:href => ""}
              Purchase
            %a.btn.btn-default.btn-sm{:href => design_path(design.id)}
              Learn more 
.something
  - if @current_offset > 0
    = form_tag(d_view_all_path) do
      = hidden_field_tag 'offset', @current_offset >= @page_size ? @current_offset - @page_size : 0
      %input.form-control.btn.btn-primary{:type => "submit", :value => "Previous"}
  - if @designs.size >= @page_size
    = form_tag(d_view_all_path) do
      = hidden_field_tag 'offset', @current_offset + @page_size
      %input.form-control.btn.btn-primary{:type => "submit", :value => "Next"}
