!!! 5
%html
  %head
    %title
      The3DMarket
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag    params[:controller]
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag params[:controller]
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default.navbar-fixed-top{ :role => "navigation" }
      .container
        %ul.nav.navbar-nav
          %li
            %a.navbar-brand{:href => '/'}
              3DEx
          %li
            %a{:href => '/u/browse'}
              Browse
          %li
            %a{:href => '/d/create'}
              Upload
          - if @user
            %li
              %a{:href => '/u/library'}
                My Library
        %ul.nav.navbar-nav.navbar-right
          %li.dropdown
            - if @user
              = link_to 'Logout', logout_path, :method => :post
            - else
              %a.dropdown-toggle{ :"data-toggle" => "dropdown", :href => '/login'}
                Login / Signup

  .main-content
    = yield

  %footer.navbar.navbar-inverse
    .container
      %ul.navbar-nav.nav
        %li
          %a{:href => '/about'}
            About
        %li
          %a{:href => '/contact'}
            Contact
        %li
          %a{:href => '/legal'}
            Legal
